<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="login.component.css">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Lora" rel="stylesheet">
</head>

<body>
  <h1 class="title" style="color: rgb(0, 0, 0); font-size: 30pt; text-align: center">Prayer App</h1>
  <h3 class="login" style="color: rgb(0, 0, 0); font-size: 25pt; text-align: center">Login</h3>

  <div class="imgcontainer">
    <img src="assets/marchOnlogo01.jpg" class="logo">
  </div>

  <form #loginForm="ngForm">
    <div class="container" style="text-align: center">
      <input type="email" name="uname" placeholder="Email" class="form-control" required [(ngModel)]="user.email"
        #uname="ngModel" >
      <div [hidden]="uname.valid || uname.pristine" class="alert alert-danger">
        Email is required
      </div>
      <br>

      <input type="password" name="psw" placeholder="Password" class="form-control" required [(ngModel)]="user.password"
        #psw="ngModel">
      <div [hidden]="psw.valid || psw.pristine" class="alert alert-danger">
        Password is required
      </div>
      <br>

      <button (click)="login()" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
    </div>

    <div class="container" style="text-align: center">
      <span class="psw">New to the Prayer App? <a href="/register">Register Now</a></span>
    </div>
  </form>

</body>

</html>
