<h1>Prayer Wall</h1>

<h4>"...for My house will be called a house of Prayer for the nations." Isaiah 56:7 </h4>
<hr>

<h4> Submit a Prayer</h4>
<p>Thank you for taking the bold step! We want to come alongside you in your time of need.</p>
<input type="description" placeholder="description" [(ngModel)]="todo.description" />
    <button (click)="create()">Submit</button>
<hr>
<h5> Active Prayer Requests</h5>
<p>Below is an active list of needs from people like you around the world. You can pray, read, and reply.
  We are joining together as a global family through prayers, sorrows, and celebrations.</p>
<ul>
  <li *ngFor="let t of todos">
    {{t.description}} <button (click)="answeredPrayer(t_id)">Answered</button> 
    <button (click)="edit(t._id)">Edit</button>
  </li>
</ul>
<hr>

<h5> Testimonials</h5>
<p>Read the celebrations!</p>
<!-- Need to connect the search bar-->
<input type="text" onkeyup="myFunction()" placeholder="Search...">

