<head>
  <link href=“https://fonts.googleapis.com/css?family=Homemade+Apple%7CLora” rel=“stylesheet”>
</head>

<!-- Header section showing the header and a sub menu with links to all of the specific sections. -->
<div class="header" id="navHeader">
  <h1 class="title">Prayer App</h1>
  <a href="/login" (click)="logout()">Signout</a>
  <a (click)="scrollToElement(item3)">Testimonies</a>
  <a (click)="scrollToElement(item2)">Active Prayer List</a>
  <a (click)="scrollToElement(item1)">Submit a Prayer </a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-reorder"></i>
  </a>
</div>


<!-- Submit a prayer section on the first row of our grid -->
<div #item1 id="item1" class="flex1-container">
  <h3 class="title1"> Submit a Prayer</h3>
  <textarea name="description" rows="4" class="txtarea" type="description" placeholder="Description" required
    [(ngModel)]="prayer.description" #description="ngModel"></textarea>

  <button id="submit" class="buttonsubmit" (click)="create()">Submit</button>
</div>

<!-- Active Prayer request section that shows the active and editable prayer request -->
<div #item2 id="item2" class="flex2-container">
  <h3 class="title2"> Active Prayers</h3>
  <div class="flexulactive-container">
    <ul class="active">
      <ng-template ngFor let-prayer [ngForOf]="prayers" | async>
        <li *ngIf="!prayer.prayerAnswered">
          {{prayer.description}}<br>
          <button class="buttonanswer" (click)="answeredPrayer(prayer._id, prayer.userId)">Answered</button>
          <br>
          <button class="buttonedit" (click)="edit(prayer._id, prayer.description, prayer.userId)">Edit</button>
        </li>
      </ng-template>
    </ul>
  </div>
</div>

<!-- This is the Testimony section showing all answered prayers.  -->
<div #item3 id="item3" class="flex3-container">
  <h3 class="title3">Testimonies</h3>
  <div class="flexultest-container">
    <ul class="test">
      <ng-template ngFor let-prayer [ngForOf]="prayers" | async>
        <li *ngIf="prayer.prayerAnswered">
          {{prayer.description}}<br>
          <button class="buttonedit" (click)="edit(prayer._id, prayer.description, prayer.userId)">Edit</button>
        </li>
      </ng-template>
    </ul>
  </div>
</div>

<!-- footer section  -->
<div class="footer">
  <p>...for My house will be called a house of Prayer for the nations." Isaiah 56:7</p>
</div>
