/* Responsive Design Declaration */
@media screen and (max-width: 620px) {
  .header a:not(:first-child) {
    display: none;
  }

  .header a.icon {
    float: right;
    display: block;
  }
}

/* Phone size responsive design */
@media screen and (max-width: 620px) {
  .header.responsive {
    position: relative;
  }

  .header.responsive .icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .header.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .flex1-container textarea {
    height: 30%;
    width: 75%;
  }

  #image{
    width: 8% !important;
  }

  .buttonsubmit {
    width: 70% !important;
    font-weight: bolder;
  }

  .buttonanswer {
    width: 90% !important;
    background-size: 6% !important;
    font-size: .8em;
  }

  .buttonedit {
    width: 90% !important;
    background-size: 6% !important;
    font-size: .8em;
  }

  .buttonsupport {
    width: 90% !important;
    background-size: 6% !important;
    font-size: .8em;
  }

  .flex1-container {
    background-attachment: scroll !important;
  }

  .flex2-container {
    background-attachment: scroll !important;
  }

  .flex3-container {
    background-attachment: scroll !important;
  }

  .flexfooter-container{
    font-size: 1.5em !important;
  }
}
/* End Phone size design */

/* Tablet size responsive */
@media screen and (min-width:620px){
  .buttonsubmit {
    width: 40% !important;
    font-weight: bold;
  }

  .buttonanswer {
    width: 40% !important;
    background-size: 6% !important;
    font-size: .7m;
  }

  .buttonedit {
    width: 40% !important;
    background-size: 6% !important;
    font-size: .7em;
  }

  .buttonsupport {
    width: 40% !important;
    background-size: 6% !important;
    font-size: .7em;
  }

  #image{
    width: 4% !important;
  }
}
/* End Tablet size */

/* Desktop responsive */
@media screen and (min-width:1220px){
  .buttonsubmit {
    width: 25% !important;
  }

  .buttonanswer {
    width: 10% !important;
    background-size: 10% !important;
  }

  .buttonedit {
    width:10% !important;
    background-size: 10% !important;
  }

  .buttonsupport {
    width: 12% !important;
    background-size: 10% !important;
  }

  #image{
    width: 2% !important;
  }
}

/* End Desktop responsive */

/* End Responsive Styling */

/* Header styling */
.header {
  overflow: hidden;
  margin-top: 0em;
  background-image: url("../../assets/prayer09new.jpg");
  color: white;
  font-family: 'Homemade Apple', 'cursive';
}

.header a {
  float: right;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 1.25em;
  border-radius: 4px;
  font-family: 'Lora', serif;
}

.header a:hover {
  background-color: white;
  color: black;
  font-size: 1.35em;
}

.header .icon {
  display: none;
}

.header a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 54, 40);
}

h1 {
  font-size: 4.25em;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  font-family: 'Homemade Apple', 'cursive';
}

.flex1-container h3 {
  font-family: 'Homemade Apple', 'cursive';
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  padding-top: .6em;
}

.flex2-container h3 {
  font-family: 'Homemade Apple', 'cursive';
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  padding-top: .6em;
}

.flex3-container h3 {
  font-family: 'Homemade Apple', 'cursive';
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  padding-top: .6em;
}

/* Grid and Flex Container Styling*/
.flex1-container {
  grid-row-start: 1;
  grid-row-end: 2;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("../../assets/prayer07new.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: solid white 1px;
  color: white;
  font-family: 'Lora', serif;
  font-size: 1.1em;
}

.flex2-container {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("../../assets/forrest01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: solid white 1px;
  color: white;
  font-family: 'Lora', serif;
  font-size: 1.1em;
}

.flex3-container {
  grid-row-start: 3;
  grid-row-end: 4;
  height: 500px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("../../assets/prayer09new.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: solid white 1px;
  color: white;
  font-family: 'Lora', serif;
  font-size: 1.1em;
}

/* End Grid and Flex Containers */


.flex1-container textarea {
  height: 30%;
  width: 50%;
  vertical-align: -40%;
  color: black;
}

.flex1-container textarea::placeholder {
  text-align: center;
}

/* UL styling */
.flexulactive-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
  overflow: auto;
  width: 80%;
  background-color: rgba(203, 209, 208, 0.096);
  color: white;
  font-size: 1em;
}

.flexultest-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em;
  overflow: auto;
  width: 80%;
  background-color: rgba(203, 209, 208, 0.096);
  color: white;
  font-size: 1em;
}

.flexulactive-container li {
  list-style: none;
  font-size: 1.5em;
  font-weight: 700;
}

.flexulactive-container li:last-child {
  list-style: none;
  padding-bottom: 12px;
}

.flexultest-container li {
  list-style: none;
  font-size: 1.5em;
  font-weight: 700;
}

.flexultest-container li:last-child {
  list-style: none;
  padding-bottom: 12px;
}

.flexulactive-container::-webkit-scrollbar {
  background-color: transparent;
  box-shadow: inset 0 0 6px whitesmoke;
}

.flexulactive-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.flexulactive-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.flexulactive-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(33, 66, 47, 0.637);
}

.flexultest-container::-webkit-scrollbar {
  background-color: transparent;
  box-shadow: inset 0 0 6px whitesmoke;
}

.flexultest-container::-webkit-scrollbar-corner {
  background-color: transparent;
}

.flexultest-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.flexultest-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(33, 66, 47, 0.637);
}
/* End UL Styling */


.supporters{
  font-size: .8em !important;
}

#image{
  justify-content: center;
  align-content: center;
  padding: .1em;
  width: 2%;
  height: auto;
  opacity: .8;
}

/* Button Element Styling */
.buttonsupport{
  background-color: rgba(47, 111, 78, 0.495);
  background-image: url("https://www.emojibase.com/resources/img/emojis/apple/1f64f.png");
  background-size: contain;
  background-size: 10.5%;
  background-repeat: no-repeat;
  background-position: left 4px center;
  text-decoration: rgb(124, 172, 142);
  font-size: .8em;
  font-family: 'Lora', serif;
  width: 12%;
  text-align: center;
  font-weight: 900;
  margin: 0.0em .5em .5em 1em;
  color: black;
}

.buttonanswer {
  background-color: white;
  background-image: url("https://www.emojibase.com/resources/img/emojis/apple/1f64c.png");
  background-size: contain;
  background-size: 10.5%;
  background-repeat: no-repeat;
  background-position: left 4px center;
  text-decoration: rgb(32, 54, 40);
  font-size: .6em;
  font-family: 'Lora', serif;
  width: 10%;
  text-align: center;
  font-weight: 500;
  margin: 0.0em .5em .5em 1em;
  color: black;
  overflow: hidden;
}

.buttonedit {
  background-color: white;
  background-image: url("https://www.emojibase.com/resources/img/emojis/apple/270f.png");
  background-size: contain;
  background-size: 10.5%;
  background-repeat: no-repeat;
  background-position: left 4px center;
  text-decoration: rgb(32, 54, 40);
  font-size: .6em;
  font-family: 'Lora', serif;
  width: 10%;
  text-align: center;
  font-weight: 500;
  margin: 0.0em .5em .5em 1em;
  color: black;
  overflow: hidden;
}

.buttonsupport:active {
  background-color: white;
  box-shadow: rgb(124, 172, 142);
  transform: translateY(2px);
}

.buttonanswer:active {
  background-color: white;
  transform: translateY(2px);
}

.buttonedit:active {
  background-color: white;
  transform: translateY(2px);
}

.buttonanswer:hover {
  background-color: rgba(0, 128, 62, 0.42);
  color: white;
}

.buttonedit:hover {
  background-color: rgba(0, 128, 62, 0.42);
  color: white;
}

.buttonsupport:hover {
  background-color: rgba(0, 128, 62, 0.42);
  color: white;
}

.buttonsubmit {
  background-color: white;
  text-decoration: rgb(32, 54, 40);
  font-size: 1.5em;
  font-family: 'Lora', serif;
  text-align: center;
  font-weight: bolder;
  color: black;
  width: 25%;
  margin-bottom: 2em;
}

.buttonsubmit:hover {
  background-color:  rgba(0, 128, 62, 0.42);
  font-size: 1.5em;
  color: black;
}
/* End Button Styling */

/* Footer styling */
.flexfooter-container {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-image: url("../../assets/prayer09new.jpg");
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
}
/* End Footer Styling */

/* Hide the Scrollbar for the main page */
html::-webkit-scrollbar {
  display: none;
}