<div class="header">
  <h1 class="title">Prayer App</h1>
  <br>
  <!-- <h5 class="tagline">"...for My house will be called a house of Prayer for the nations." Isaiah 56:7 </h5> -->
<hr class="line">
<div class="header-right">
  <a class="home" href="/home">Home</a>
  <a href="/home">Add New Prayer</a>
  <a href="/home">Active Prayer List</a>
  <a href= "/home">Testimonials</a>
  <a href="/login">Signout</a>
</div>
</div>

<h4> Submit a Prayer</h4>
<p>Thank you for taking the bold step! We want to come alongside you in your time of need.</p>
<input type="description" placeholder="description" [(ngModel)]="prayer.description" />
    <button (click)="create()">Submit</button>
<hr>
<h4> Active Prayer Requests</h4>
<p>Below is an active list of needs from people like you around the world. You can pray, read, and reply.
  We are joining together as a global family through prayers, sorrows, and celebrations.</p>
  <div>
    <ul>
      <ng-template ngFor let-prayer [ngForOf]="prayers" | async>
        <li *ngIf="!prayer.prayerAnswered">
          {{prayer.description}}
          <button (click)="answeredPrayer(prayer._id)">Answered</button>
          <button (click)="edit(prayer._id)">Edit</button>
        </li>
      </ng-template>
    </ul>
  </div>  
<hr>

<h4>Testimonies</h4>
<p>Read the Celebrations!</p>
  <div>
    <ul>
      <ng-template ngFor let-prayer [ngForOf]="prayers" | async>
        <li *ngIf="prayer.prayerAnswered">
          {{prayer.description}}
          <button (click)="edit(prayer._id)">Edit</button>
        </li>
      </ng-template>
    </ul>
  </div>

  <div class= "footer">
   <h3>...for My house will be called a house of Prayer for the nations." Isaiah 56:7 </h3>
  </div>